  
  .admin-title {
    font-size: 2rem;
    color: var(--dark-text);
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
  }

  .add-button{
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .admin-title {
      font-size: 1.5rem;
    }
  }