.product-card {
    background: var(--light-text);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition);
    position: relative;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(58, 46, 40, 0.1);
  }
  
  .product-image-wrapper {
    position: relative;
    height: 300px;
    overflow: hidden;
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .product-image:hover {
    transform: scale(1.05);
  }
  
  .favorite-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    color: var(--accent-color)
  }

  
  .favorite-btn.favorited {
    color: #f32637;
    background-color: #f5cace;
  }
  
  .product-info {
    padding: 1.5rem;
  }

  .product-rating-star{
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ffd700;
    transition: color 0.3s;
    padding: 0;
  }
   
  .product-card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .product-card-description {
    color: rgba(58, 46, 40, 0.7);
    margin-bottom: 1rem;
    min-height: 60px;
  }
  
  .product-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-card-price {
    font-size: 1.3rem;
    color: var(--accent-color);
    font-weight: 500;
  }

